/* line 5, ../sass/screen.scss */
.tm-metabox.postbox .inside {
  margin: 0 !important;
  padding: 1em;
  position: relative;
  background: #fff;
}
/* line 12, ../sass/screen.scss */
.tm-metabox.postbox.has-panels .inside {
  padding: 0;
}

/* line 17, ../sass/screen.scss */
.tm-menu-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 199px;
  background: #f5f5f5;
  border-right: 1px solid #dfdfdf;
}

/* line 28, ../sass/screen.scss */
.tm-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  margin: 0;
}
/* line 37, ../sass/screen.scss */
.tm-menu li {
  padding: 0.5em 1em;
  color: #999;
  text-shadow: #fff 0 1px 1px;
  font-weight: bold;
  border-bottom: 1px solid #dfdfdf;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(-90deg, #f9f9f9, #ececec);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  margin: 0;
  cursor: pointer;
  border-right: 1px solid #dfdfdf;
}
/* line 52, ../sass/screen.scss */
.tm-menu li:hover {
  color: #666;
}
/* line 56, ../sass/screen.scss */
.tm-menu li.selected {
  background: #fff;
  border-right-color: #fff;
  color: #000;
}

/* line 65, ../sass/screen.scss */
.has-panels .tm-field-group-container {
  padding: 0 0 0 200px;
  overflow: hidden;
  background: #fff;
}

/* line 72, ../sass/screen.scss */
.tm-field-group {
  display: none;
  padding: 1em;
}
/* line 76, ../sass/screen.scss */
.tm-field-group.selected {
  display: block;
}

/* line 81, ../sass/screen.scss */
.tm-field {
  margin-bottom: 1.5em;
}
/* line 85, ../sass/screen.scss */
.tm-field:last-child {
  margin: 0;
}
/* line 89, ../sass/screen.scss */
.tm-field label {
  font-weight: bold;
  padding-bottom: 0.5em;
  display: block;
  font-size: 1.1em;
}
/* line 96, ../sass/screen.scss */
.tm-field .help {
  margin: 0.5em 0;
  color: #888;
}

/* picker */
/* line 103, ../sass/screen.scss */
.post-picker {
  overflow: hidden;
}

/* line 107, ../sass/screen.scss */
.picker-list {
  max-width: 600px;
  background: #eee;
  margin: 0;
  padding: 1em;
  border: 1px solid #ccc;
  margin-bottom: 1em;
}
/* line 116, ../sass/screen.scss */
.picker-list h4 {
  margin: 0;
}
/* line 120, ../sass/screen.scss */
.picker-list li {
  border: 1px solid #ccc;
  padding: 0.5em 1em;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -ms-border-radius: 0.75em;
  -o-border-radius: 0.75em;
  border-radius: 0.75em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background: -o-linear-gradient(top, #eeeeee, #dddddd);
  background: linear-gradient(top, #eeeeee, #dddddd);
  line-height: 1.5;
  cursor: move;
  margin-bottom: 1em;
  list-style: none;
  counter-increment: list-counter;
  margin-left: 2em;
  text-align: left;
}
/* line 134, ../sass/screen.scss */
.picker-list li:before {
  content: counter(list-counter) " ";
  float: left;
  margin-left: -40px;
  font-size: 1.5em;
  text-align: right;
  /*width: 2em;*/
  line-height: 35px;
}
/* line 144, ../sass/screen.scss */
.picker-list li nav {
  display: block;
  font-size: 0.8em;
}
/* line 148, ../sass/screen.scss */
.picker-list li nav a {
  margin-right: 0.75em;
  text-decoration: none;
}
/* line 154, ../sass/screen.scss */
.picker-list li:last-child {
  margin-bottom: 0;
}
/* line 159, ../sass/screen.scss */
.picker-list .placeholder {
  padding: 2em;
  border: 1px dashed #666;
}

/* line 165, ../sass/screen.scss */
.picker-query {
  margin-right: 1em;
}

/* line 169, ../sass/screen.scss */
.picker-results {
  max-width: 600px;
}
/* line 173, ../sass/screen.scss */
.picker-results .result {
  padding: 1em 60px 1em 0;
  border-bottom: 1px solid #ccc;
}
/* line 178, ../sass/screen.scss */
.picker-results .result .add {
  float: right;
  margin: 0 -60px 0 20px;
}
/* line 183, ../sass/screen.scss */
.picker-results .result:last-child {
  border: 0;
}
