/* line 5, ../sass/screen.scss */
.tm-metabox.postbox .inside {
  margin: 0 !important;
  padding: 1em;
  position: relative;
  background: #fff;
  overflow: hidden;
}
/* line 13, ../sass/screen.scss */
.tm-metabox.postbox.has-panels .inside {
  padding: 0;
}

/* line 18, ../sass/screen.scss */
.tm-menu-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 199px;
  background: #f5f5f5;
  border-right: 1px solid #dfdfdf;
}

/* line 29, ../sass/screen.scss */
.tm-menu {
  float: left;
  width: 200px;
  margin: 0;
}
/* line 35, ../sass/screen.scss */
.tm-menu li {
  padding: 0.5em 1em;
  color: #999;
  text-shadow: #fff 0 1px 1px;
  font-weight: bold;
  border-bottom: 1px solid #dfdfdf;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(-90deg, #f9f9f9, #ececec);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  margin: 0;
  cursor: pointer;
  border-right: 1px solid #dfdfdf;
  z-index: 10;
  position: relative;
}
/* line 51, ../sass/screen.scss */
.tm-menu li:last-child {
  margin-bottom: 1em;
}
/* line 56, ../sass/screen.scss */
.tm-menu li:hover {
  color: #666;
}
/* line 60, ../sass/screen.scss */
.tm-menu li.selected {
  background: #fff;
  border-right-color: #fff;
  color: #000;
}

/* line 69, ../sass/screen.scss */
.has-panels .tm-field-group-container {
  /*padding: 0 0 0 200px;*/
  overflow: hidden;
  background: #fff;
}

/* line 76, ../sass/screen.scss */
.tm-field-group {
  display: none;
  padding: 1em;
}
/* line 80, ../sass/screen.scss */
.tm-field-group.selected {
  display: block;
}

/* line 85, ../sass/screen.scss */
.tm-field {
  margin-bottom: 1.5em;
}
/* line 89, ../sass/screen.scss */
.tm-field:last-child {
  margin: 0;
}
/* line 93, ../sass/screen.scss */
.tm-field label {
  font-weight: bold;
  padding-bottom: 0.5em;
  display: block;
  font-size: 1.1em;
}
/* line 100, ../sass/screen.scss */
.tm-field .help {
  margin: 0.5em 0;
  color: #888;
}

/* line 107, ../sass/screen.scss */
.tm-field-checkbox .help {
  display: inline;
  margin-left: 0.5em;
}

/* picker */
/*
.post-picker {
	overflow: hidden;
}

.picker-list {

	max-width: 600px;
	background: #eee;
	margin: 0;
	padding: 1em;
	border: 1px solid #ccc;
	margin-bottom: 1em;

	.notice {
		text-align: center;
	}

	h4 {
		margin: 0;
	}

	li {

		border: 1px solid #ccc;
		padding: 0.5em 1em;
		@include border-radius(0.75em);
		@include background(linear-gradient(top, #eee, #ddd));
		line-height: 1.5;
		cursor: move;
		margin-bottom: 1em;
		list-style: none;
		counter-increment: list-counter;
		margin-left: 2em;
		text-align: left;

		&:before {
			content: counter(list-counter) ' ';
			float: left;
			margin-left: -40px;
			font-size: 1.5em;
			text-align: right;
			line-height: 35px;
		}

		nav {
			display: block;
			font-size: 0.8em;

			a {
				margin-right: 0.75em;
				text-decoration: none;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.placeholder {
		padding: 2em;
		border: 1px dashed #666;
	}
}

.picker-query {
	margin-right: 1em;
}

.picker-results {

	max-width: 600px;

	.result {

		padding: 1em 60px 1em 0;
		border-bottom: 1px solid #ccc;

		.add {
			float: right;
			margin: 0 -60px 0 20px;
		}

		&:last-child {
			border: 0;
		}
	}
}
*/
